[Unit]
Description=Thinkpad keyboard backlight service
After=network.target

[Service]
User=root
Group=root
ExecStart=/usr/bin/thinkpad-keybacklight
Type=exec
Restart=always


[Install]
WantedBy=default.target
RequiredBy=network.target