[Unit]
Description=Thinkpad keyboard backlight service

[Service]
User=root
Group=root
ExecStart=/usr/bin/thinkpad-keybacklight
Type=exec
Restart=always

[Install]
WantedBy=default.target